# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
bin/*
images/blender/*
images/test_map/00*
images/test_map/01*
images/test_map/02*
images/test_map/03*
images/test_map/04*
images/test_map/05*
images/test_map/06*
images/test_map/07*
images/test_map/08*
