# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
obj/*
bin/*
images/blender/*
logs/*
assets/data/savegames/*.dat
*.layout
ForbiddenLands.layout
dependency-graph.pdf
ForbiddenLands.depend
ForbiddenLands.cbp.mak
Makefile
